body {
  font-family: 'Merriweather', serif;
}

label {
  display: block;
  margin-bottom: 8px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

h1 {
  background: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 80px;
  margin: auto;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: 100;
  color: grey;
}

.light {
  display: inline-block;
}

.select {
  font-weight:100;
  color: grey;
  margin-top: 25px;
}

.topics {
  font-weight:100;
  color: grey;
  margin-top: 25px;
}

.news_format {
  font-weight:100;
  color: grey;
  margin-top: 25px;
}

.line-one {
    height: 4px;
    background-color: black;
    border: none;
    margin: 4px 0;
    width: 100%;
}

.line-two {
  height: 2px;
  background-color: black;
  border: none;
  margin: 4px 0;
  width: 100%;
}

.line-three {
  height: 2px;
  background-color: black;
  border: none;
  margin: 4px 0;
  margin-bottom: 20px;
  width: 100%;
}

.main-footer {
  text-align: center;
}

.newsletter {
  font-size: 20px;
  font-weight: bold;
}

.contact_info {
  font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

input[type="color"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 150px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .label {
    width: 28%;
  }

  .input {
    width: 72%;
  }
}
